# Initial Data Cleaning

In [40]:
import pandas as pd
import numpy as np
import sklearn
import json

In [146]:
with open('6673282.json') as f:
    d = json.load(f)

In [147]:
# file_data = json_normalize(data=d['data'], record_path)
schema = {}
fields = []
for row in d['fields']:
    new_row = {}
    new_row['name'] = row['label']
    new_row['type'] = row['type']
    fields.append(new_row)
schema['fields'] = fields

d['schema'] = schema

In [148]:
print(schema)

{'fields': [{'name': 'S.No', 'type': 'string'}, {'name': 'Years', 'type': 'string'}, {'name': 'Exports Value (Rs. in Crores)', 'type': 'string'}, {'name': 'Imports Value  (Rs. in Crores)', 'type': 'string'}]}

In [149]:
d.pop('fields')

[{'id': 'a', 'label': 'S.No', 'type': 'string'},
 {'id': 'b', 'label': 'Years', 'type': 'string'},
 {'id': 'c', 'label': 'Exports Value (Rs. in Crores)', 'type': 'string'},
 {'id': 'd', 'label': 'Imports Value  (Rs. in Crores)', 'type': 'string'}]

In [150]:
print(d)

{'data': [['1', '1991-92', '5389.88', '5359.21'], ['2', '1992-93', '6884.23', '7310.65'], ['3', '1993-94', '9085.8', '8111.8'], ['4', '1994-95', '12460.09', '12541.53'], ['5', '1995-96', '15832.83', '17416.72'], ['6', '1996-97', '17596.27', '14966.54'], ['7', '1997-98', '16529.64', '36877.89'], ['8', '1998-99', '18771.28', '23482.9'], ['9', '1999-00', '26983.75', '25600.16'], ['10', '2000-01', '11736.96', '18821.37'], ['11', '2001-02', '12631.24', '18628.05'], ['12', '2002-03', '25039', '35697'], ['13', '2003-04', '33068', '43798'], ['14', '2004-05', '34782', '78740'], ['15', '2005-06', '51298', '112983'], ['16', '2006-07', '67759', '159035']], 'schema': {'fields': [{'name': 'S.No', 'type': 'string'}, {'name': 'Years', 'type': 'string'}, {'name': 'Exports Value (Rs. in Crores)', 'type': 'string'}, {'name': 'Imports Value  (Rs. in Crores)', 'type': 'string'}]}}

In [151]:
# json.dumps

total_df = pd.read_json(json.dumps(d), orient='table')

In [152]:
total_df.set_index('S.No', inplace=True)

In [153]:
total_df

        Years Exports Value (Rs. in Crores) Imports Value  (Rs. in Crores)
S.No
1     1991-92                       5389.88                        5359.21
2     1992-93                       6884.23                        7310.65
3     1993-94                        9085.8                         8111.8
4     1994-95                      12460.09                       12541.53
5     1995-96                      15832.83                       17416.72
6     1996-97                      17596.27                       14966.54
7     1997-98                      16529.64                       36877.89
8     1998-99                      18771.28                        23482.9
9     1999-00                      26983.75                       25600.16
10    2000-01                      11736.96                       18821.37
11    2001-02                      12631.24                       18628.05
12    2002-03                         25039                          35697
13    2003-04                         33068                          43798
14    2004-05                         34782                          78740
15    2005-06                         51298                         112983
16    2006-07                         67759                         159035

In [108]:
total_df.replace('@', '0', inplace=True)

In [154]:
total_df.to_json('yearwise_import_export.json')