In [40]:
import pandas as pd
import numpy as np
import sklearn
import json

In [41]:
with open('6673271.json') as f:
    d = json.load(f)

In [42]:
# file_data = json_normalize(data=d['data'], record_path)
schema = {}
fields = []
for row in d['fields']:
    new_row = {}
    new_row['name'] = row['label']
    new_row['type'] = row['type']
    fields.append(new_row)
schema['fields'] = fields

d['schema'] = schema

In [43]:
print(schema)

{'fields': [{'name': 'S.No', 'type': 'string'}, {'name': 'Description', 'type': 'string'}, {'name': 'Value of Foreign Trade Tamil Nadu (Rs.in Crores)', 'type': 'string'}, {'name': 'Value of Foreign Trade All India* (Rs.in Crores)', 'type': 'string'}, {'name': 'Percentage share of Foreign Trade through Tamil Nadu Ports to All India', 'type': 'string'}]}

In [44]:
d.pop('fields')

[{'id': 'a', 'label': 'S.No', 'type': 'string'}, {'id': 'b', 'label': 'Description', 'type': 'string'}, {'id': 'c', 'label': 'Value of Foreign Trade Tamil Nadu (Rs.in Crores)', 'type': 'string'}, {'id': 'd', 'label': 'Value of Foreign Trade All India* (Rs.in Crores)', 'type': 'string'}, {'id': 'e', 'label': 'Percentage share of Foreign Trade through Tamil Nadu Ports to All India', 'type': 'string'}]

In [45]:
print(d)

{'data': [['1', 'Exports By Sea', '84123', 'NA', 'NA'], ['2', 'Exports By Air', '7639', 'NA', 'NA'], ['3', 'Total Exports', '91762', '655864', '13.99'], ['4', 'Imports By Sea', '154429', 'NA', 'NA'], ['5', 'Imports By Air', '35732', 'NA', 'NA'], ['6', 'Total Imports', '190161', '1012312', '18.78']], 'schema': {'fields': [{'name': 'S.No', 'type': 'string'}, {'name': 'Description', 'type': 'string'}, {'name': 'Value of Foreign Trade Tamil Nadu (Rs.in Crores)', 'type': 'string'}, {'name': 'Value of Foreign Trade All India* (Rs.in Crores)', 'type': 'string'}, {'name': 'Percentage share of Foreign Trade through Tamil Nadu Ports to All India', 'type': 'string'}]}}

In [46]:
# json.dumps

total_df = pd.read_json(json.dumps(d), orient='table')

In [47]:
total_df[]

,S.No,Description,Value of Foreign Trade Tamil Nadu (Rs.in Crores),Value of Foreign Trade All India* (Rs.in Crores),Percentage share of Foreign Trade through Tamil Nadu Ports to All India
0,1,Exports By Sea,84123,NA,NA
1,2,Exports By Air,7639,NA,NA
2,3,Total Exports,91762,655864,13.99
3,4,Imports By Sea,154429,NA,NA
4,5,Imports By Air,35732,NA,NA
5,6,Total Imports,190161,1012312,18.78